@media (min-width: 769px) {
    header {
        padding: 2rem;
    }
    
    .navegacao {
        gap: 1.5rem;
    }
    
    main {
        margin: 2rem auto;
        padding: 2rem;
    }
    
    .destaques {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .slides img {
        width: calc(50% - 0.5rem);
        height: calc(50% - 0.5rem);
    }
    
    .carrosel-btn {
        font-size: 3rem;
    }
    
    .carrossel-container {
        padding: 0 4rem;
    }
}

@media (min-width: 1024px) {
    .logo {
        max-width: 600px; 
        height: 140px; 
    }
    
    .destaques {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .slides img {
        width: calc(33.333% - 0.67rem);
        height: calc(33.333% - 0.67rem);
    }
    
    .carrosel-btn {
        font-size: 3.5rem;
    }
    
    .carrossel-container {
        padding: 0 5rem;
    }
}